/* Button Styling */
button {
  font-size: 16px;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;

  /* Add hover effect */
  transition: opacity 0.3s;

  /* Add rounded corners */
  border-radius: 10px;

  /* Add shadow effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  /* Add background color */
  background-color: #4CAF50;
}

.encryption-btn {
  background-color: #4CAF50; /* Green */

  /* Add hover effect */
  transition: opacity 0.3s;
}

.decryption-btn {
  background-color: #2196F3; /* Blue */
}

button:hover {
  opacity: 0.9;
}

/* Information Section for AES and Kyber */
.info-section {
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
  padding: 20px;
  margin: 50px auto;
  width: 80%;
  border-radius: 10px;
  color: white;

}

h2 {
  color: #FFD700; /* Gold for headings */
  font-size: 24px;
  margin-bottom: 10px;
  text-align: left;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

p {
  font-size: 18px;
  text-align: left;
  margin: 10px 0;
  line-height: 1.5;


}
